@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

:root {
  --background-color: white;
  --growwBlue: #5367ff;
  --growwGreen: #00d09c;
  --growwtext: #44475b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: #44475b;
}

.calculator {
  padding: 1em;
  /* margin: 5px; */
  width: 325px;
  background-color: white;
  border-radius: 5px;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #5367ff;
  border-radius: 5px;
  opacity: 0.9;
}
input[type="range"]::-webkit-slider-thumb {
  height: 36px;
  width: 16px;
  border-radius: 10px;
  background: #5367ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -17px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #5367ff;
  opacity: 1;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #5367ff;
  border-radius: 5px;
}
input[type="range"]::-moz-range-thumb {
  height: 36px;
  width: 16px;
  border-radius: 10px;
  background: #5367ff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #5367ff;
  border-radius: 5px;
  opacity: 0.9;
}
input[type="range"]::-ms-fill-upper {
  background: #5367ff;
  border-radius: 5px;
  opacity: 0.9;
}
input[type="range"]::-ms-thumb {
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #5367ff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #5367ff;
  opacity: 1;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #5367ff;
  opacity: 1;
}

/* Hide Number Arrow */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield !important;
}

/* For radio */
.radio {
  margin: 0.5rem;
  text-align: center;
}

.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio input[type="radio"] + .radio-label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #5367ff;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #3197ee;
}

.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}

.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

/* Radio End */

/*Groww Logo on mobile*/
@media (max-width: 768px) {
  .groww-logo {
    width: 100px;
    height: 25px;
  }
}

/* New */

.main_container {
  width: 650px;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
  margin: 5px;
  display: inline-block;
  padding: 1em 0;
  border-radius: 5px;
  /* padding: 1rem; */
  margin: 50px;
}

#heading {
  font-size: 18px;
  margin-bottom: 1.5em;
  margin-top: 1em;
  text-align: center;
  color: #44475b;
}

form {
  width: 50%;
  float: left;
}

.chart {
  width: 50%;
  float: right;
  /* clear: both; */
}

.i_row {
  color: #44475b;
}

.i_row span {
  float: right;
}

.i_container .i_row span input {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0 5px;
  text-align: right;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.i_container .i_row span input:focus {
  outline: none;
}

.i_container {
  margin-bottom: 30px;
}

.r_value {
  text-align: center;
}

.o_row {
  display: inline-block;
  width: 100%;
}

.o_row:not(:last-child) {
  margin: 15px 0;
}

.o_row div {
  width: 50%;
  float: left;
}

.o_row .r_title {
  text-align: center;
  margin-bottom: 5px;
  font-size: 14px;
  color: #44475b;
  opacity: 0.75;
}

.o_row .r_value {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #44475b;
}

.o_row .left {
  width: 50%;
  float: left;
}

.o_row .right {
  width: 50%;
  float: right;
  clear: both;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta .cta_btn {
  border: none;
  font-size: 15px;
  letter-spacing: 0.2px;
  padding: 8px 12px;
  color: white;
  background-color: #625eeb;
  border-radius: 5px;
}

#myChart {
  margin: 10px auto;
}

@media (max-width: 576px) {
  .main_container {
    width: 100%;
    display: block;
    padding: 1em 0.5em;
  }
  form {
    width: 100%;
    float: unset;
  }
  .calculator {
    padding: 1em;
    width: 100%;
    margin: 0;
  }
  .chart {
    width: 100%;
  }
}

#inputAmount {
  width: 85px;
}
#inputRoi {
  width: 50px;
}
#inputYears {
  width: 35px;
}

#logo {
  display: none;
  text-align: center;
  margin-bottom: 20px !important;
  color: #44475b !important;
}

#logo a img {
  vertical-align: middle;
}
